.form__labelText {
    padding: 10px;
    font-size: 15px;
}

.form__button {
    background-color: rgba(224, 215, 212, 0.91);
    color: rgb(26, 8, 43);
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
}

.form__fieldset {
    border-color: rgb(230, 223, 214);
    max-width: 400px;
    background-color: rgba(231, 223, 218, 0.958);
    align-items: center;
}

.form {
    max-width: 400px;
    margin: auto;
}

.form__header {
    font-size: 20px;
    text-shadow: 5px 5px 5px rgb(222, 215, 210);
}


.form__field {
    font-size: 25px;
}

.form__info {
    font-size:20px;
    color:rgb(6, 13, 27);
}